html, body{
    height: 100%;
}

body {
  color: #2c3e50;
  background-color: #ecf0f1;
  font-size: 14px;
}

.hide{
    display: hidden;
}

.datepicker{
    position: relative;
    z-index: 100;
}

.table{
    background: #ffffff;
}

.table-title {
  background: #1abc9c;
  border-radius: 4px;
  width: 100%;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 10px 15px;
}

.narrow-col{
    width: 4em;
}

.number-col{
    padding-left: 1em;
}
#page-title h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.long-icon{
    margin-bottom: 10px !important;
}

.div-filter, .grid-controls{
    margin: 10px;
}

.div-filter-box{
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-top: 2px solid #2c3e50;
    padding-top: 1em;
}

.div-filter-box .btn
, .grid-controls .btn{
    margin-left: 1em;
}

.div-filter-box input{
    display: inline-block;
}

.create-icon{
    text-align: center;
    margin: 20px 0 0;
}

.delete-warning b{
    color: red !important;
    font-size: 120%;
}

/* ngikutin setting bth-wide punya flat-UI*/
.control-wide{
    min-width: 140px;
}

#loading-indicator2 {
    position:absolute;
    width:220px; /*image width */
    height:19px; /*image height */
    left:50%;
    top:50%;
    margin-left:-110px; /*image width/2 */
    margin-top:-9.5px; /*image height/2 */
}

#loading-indicator {
    border-radius: 4px;
    background-color: #333;
    opacity: 0.8;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../images/ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
}

/* CSS specific for mobile (small screens) */
@media screen and (max-width: 480px) {
    /* decrease padding on small screen */
    .tilawah-from, .filter-date-from{
        padding-right: 0.5em !important;
    }
    .tilawah-to, .filter-date-to{
        padding-left: 0.5em !important;
    }
    .div-filter .datepicker{
        margin-bottom: 0.5em !important;
    }
    .div-filter-box .btn{
        margin-left: 0;
    }
    .grid-controls .btn.pull-right{
        margin-top: 0.5em !important;
    }
    /* hide on small screen */
    .large-screen-only{
        display: none;
    }
}

/* start inline radio buttons style
   http://stackoverflow.com/a/15710719/2998271
*/

.radio-group > ul{
    background: #f7f7f7;
    padding: 8px; /* Give the items some air to breathe */
}

.radio-group > ul > li {
    display: inline-block;
    zoom:1;
    padding-right: 10px;
    *display:inline;
    /* this fix is needed for IE7- */
}

.radio-group > ul > li > input{
    color: #666666;
    text-decoration: none;
    padding: 3px 8px;
}

.radio-group > ul > li > input:hover{
    color: black;
}

/* end inline radio buttons style */