html, body{
    height: 100%;
}

iframe#coming-soon{
    overflow:hidden;
    height:100%;
    width:100%
}

.hide{
    display: hidden;
}

.datepicker{
    position: relative;
    z-index: 100;
}

.table{
    background: #ffffff;
}

.long-icon{
    margin-bottom: 10px !important;
}

.div-filter{
    margin: 10px;
}

.btn-filter{
    margin-top: 0px !important;
    font-size: 1.1em !important;
}

.div-filter-box{
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-top: 2px solid #2c3e50;
    padding-top: 1em;
}

.delete-warning b{
    color: red !important;
    font-size: 120%;
}

/* flat-ui style dropdown menu
ref F12 (inspect element) http://designmodo.github.io/Flat-UI/ */
.dropdown-menu{
    background-color: #f3f4f5;
    border: medium none;
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
    margin-top: 9px;
    min-width: 220px;
    padding: 0;
    z-index: 1000;
}
/* end flat-ui style dropdown menu */

/* CSS specific for mobile (small screens) */
@media screen and (max-width: 480px) {
    /* decrease padding on small screen */
    .tilawah-from, .filter-date-from{
        padding-right: 0.5em !important;
    }
    .tilawah-to, .filter-date-to{
        padding-left: 0.5em !important;
    }
    .div-filter .datepicker{
        margin-bottom: 0.5em !important;
    }
    /* hide on small screen */
    .large-screen-only{
        display: none;
    }
}

/* start inline radio buttons style
   http://stackoverflow.com/a/15710719/2998271
*/

.radio-group > ul{
    background: #f7f7f7;
    padding: 8px; /* Give the items some air to breathe */
}

.radio-group > ul > li {
    display: inline-block;
    zoom:1;
    padding-right: 10px;
    *display:inline;
    /* this fix is needed for IE7- */
}

.radio-group > ul > li > input{
    color: #666666;
    text-decoration: none;
    padding: 3px 8px;
}

.radio-group > ul > li > input:hover{
    color: black;
}

/* end inline radio buttons style */