<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link type="text/css" href="/static/css/main.css"/>
    <title></title>
</head>
<body>
    {% for greeting in greetings %}
        {% if greeting.author.nickname %}
            <b>{{greeting.author}}</b> wrote:
        {% else %}
            An anonymous person wrote:
        {% endif %}
        <blockquote>{{greeting.content|escape}}</blockquote>
    {% endfor %}

    <form action="/sign/" method="post">
        {% csrf_token %}
        <input type="hidden" name="guestbook_name" value="{{guestbook_name}}"/>
        <div>
            <textarea name="content" rows="3" cols="60"></textarea>
        </div>
        <div>
            <input type="submit" value="Sign Guestbook"/>
        </div>

        <a href="{{url}}">{{url_linktext}}</a>
    </form>
</body>
</html>