{% extends "base.html" %}

{% block title %}
    Display Entry
{% endblock %}

{% block main %}
<div id="create-article" class="container">
    <div class="row">
        <span class="col-xs-12 create-icon long-icon">
          <i class="fa fa-file-text-o fa-4x"></i>
        </span>
        <h2>View an existing entry</h2>

        <div class="col-xs-1"></div>
        <div class="table-responsive col-xs-10">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="2">
                            <div class="admin-title">{{ form.entry_date|date:"d M Y" }}</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tilawah</td>
                        <td>{{ form.display_tilawah }}</td>
                    </tr>
                    <tr>
                        <td>Qiyamul Lail</td>
                        <td>{{ form.display_ql }}
                    <tr>
                        <td>Dhuha</td>
                        <td>{{ form.display_dhuha }}</td>
                    </tr>
                    <tr>
                        <td>Shaum</td>
                        <td>{{ form.display_shaum }}</td>
                    </tr>
                    <tr class="hide">
                        <td>Raport</td>
                        <td>{{ form.display_raport }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}