{% extends "base.html" %}

{% block title %}
    Display Entry
{% endblock %}

{% block main %}
<div id="create-article" class="container">
  <div class="row">
    <span class="col-xs-12 create-icon">
      <i class="fa fa-folder-open fa-4x"></i>
    </span>
    <h2>View entry</h2>
    <form id="create-new-article" class="form-horizontal" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="id_entry_date" class="control-label col-xs-2">Tanggal</label>
            <div class="col-xs-8">
                {{ form.entry_date }}
            </div>
        </div>
        <div class="form-group">
            <label for="id_tilawah_start" class="control-label col-xs-2">Tilawah</label>
            <div class="col-xs-3">
                {{ form.tilawah_start }}
            </div>
            <div class="col-xs-3">
                {{ form.tilawah_end }}
            </div>
        </div>
        <div class="form-group">
            <label for="id_ql" class="control-label col-xs-2">Qiyamullail</label>
            <div class="col-xs-8">
                {{ form.ql }}
            </div>
        </div>
        <div class="form-group">
            <label for="id_dhuha" class="control-label col-xs-2">Dhuha</label>
            <div class="col-xs-8">
                {{ form.dhuha }}
            </div>
        </div>
        <div class="form-group">
            <label for="id_shaum" class="control-label col-xs-2">Shaum</label>
            <div class="col-xs-8 radio-group">
                {{ form.shaum }}
            </div>
        </div>
        <div class="form-group">
            <label for="id_raport" class="control-label col-xs-2">Raport</label>
            <div class="col-xs-8 radio-group">
                {{ form.raport }}
            </div>
        </div>
    </form>
  </div>
</div>
{% endblock %}