{% extends "base.html" %}

{% block title %}
    Display Entry
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-xs-3"></div>
    <div class="table-responsive col-xs-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">
                        <div class="admin-title">{{ form.entry_date|date:"d M Y" }}</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tilawah</td>
                    <td>{{ form.display_tilawah }}</td>
                </tr>
                <tr>
                    <td>Qiyamul Lail</td>
                    <td>{{ form.display_ql }}
                <tr>
                    <td>Dhuha</td>
                    <td>{{ form.display_dhuha }}</td>
                </tr>
                <tr>
                    <td>Shaum</td>
                    <td>{{ form.display_shaum }}</td>
                </tr>
                <tr class="hide">
                    <td>Raport</td>
                    <td>{{ form.raport }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}