{% extends "base.html" %}

{% block title %}
Mutaaba3ah
{% endblock %}

{% block main %}
<div id="admin-home" class="container">
  <h2>Laporan Mutaaba'ah Bulanan</h2>
  <div class="row">
    <div id="article-admin" class="col-xs-12">
      <div class="row">
        <div class="admin-title col-xs-12">
          <span>{{ current_month_year }}</span>
          <a class="add-article" title="Add new entry" href="{% url 'mutaaba3ah/add' %}">
            <i class="fa fa-plus-square pull-right"></i>
          </a>
        </div>
        {% for entry in entries %}
          <div class="article-info col-xs-12">
            <a class="col-xs-8" href="{% url 'mutaaba3ah/display' entry.id %}">{{ entry.entry_date }}</a>
            <a class="col-xs-2" href="{% url 'mutaaba3ah/delete' entry.id %}">Delete</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}