<div class="row" id="report_content">
    <div class="col-md-1"></div>
    <div class="table-responsive col-md-10">
        {% load staticfiles %}
        <!--<img src="{% static 'images/ajax-loader.gif' %}" id="loading-indicator" style="display:none" />-->
        <div id="loading-indicator" style="display:none"></div>
        <table id="mutaaba3ah-table" class="table table-bordered table-hover selectable">
            <thead>
                <tr>
                    <th class="hide">
                        <div>url_edit</div>
                    </th>
                    <th class="hide">
                        <div>url_delete</div>
                    </th>
                    <th>
                        <div class="table-title narrow-col">No.</div>
                    </th>
                    <th>
                        <div class="table-title">Tanggal</div>
                    </th>
                    <th>
                        <div class="table-title">Tilawah</div>
                    </th>
                    <th>
                        <div class="table-title">QL</div>
                    </th>
                    <th>
                        <div class="table-title">Dhuha</div>
                    </th>
                    <th>
                        <div class="table-title">Shaum</div>
                    </th>
                    <th class="hide">
                        <div class="table-title">Raport</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for e in entries %}
                    <tr>
                        <td class="hide edit-url">{% url 'mutaaba3ah/edit' e.id %}</td>
                        <td class="hide delete-url">{% url 'mutaaba3ah/delete' e.id %}</td>
                        <td class="narrow-col"><span class="number-col">{{ forloop.counter }} . </span></td>
                        <td class="mutaaba3ah-date" title="view details">
                            <a href="{% url 'mutaaba3ah/display' e.id %}">{{ e.entry_date|date:"d M Y" }}</a>
                        </td>
                        <td><span class="number-col">{{ e.compute_tilawah }}</span></td>
                        <td><span class="number-col">{{ e.ql }}</span></td>
                        <td><span class="number-col">{{ e.dhuha }}</span></td>
                        <td>{{ e.display_shaum }}</td>
                        <td class="hide">{{ e.display_raport }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>