{% extends "base.html" %}

{% block title %}
    Report
{% endblock %}

{% block main %}
<div id="create-article" class="container">
    <div class="row">
        <span class="col-xs-12 create-icon long-icon">
          <i class="fa fa-line-chart fa-4x"></i>
        </span>
        <h2>Mutaba'ah Report</h2>
    </div>
    <div class="row div-filter">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 div-filter-box">
            <div class="col-xs-2">
                <input type="text" placeholder="date from" class="form-control readonly datepicker" id="date_from">
            </div>
            <div class="col-xs-2">
                <input type="text" placeholder="date to" class="form-control readonly datepicker" id="date_to">
            </div>
            <div class="col-xs-2">
                <input type="submit" value="Filter" id="submit" class="btn-filter">
            </div>
        </div>
    </div>
    {% include "mutaaba3ah/report_content.html" %}
</div>
{% endblock %}