<div class="row" id="report_content">
    <div class="col-md-1"></div>
    <div class="table-responsive col-md-10">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <div class="admin-title">Tanggal</div>
                    </th>
                    <th>
                        <div class="admin-title">Tilawah</div>
                    </th>
                    <th>
                        <div class="admin-title">QL</div>
                    </th>
                    <th>
                        <div class="admin-title">Dhuha</div>
                    </th>
                    <th>
                        <div class="admin-title">Shaum</div>
                    </th>
                    <th class="hide">
                        <div class="admin-title">Raport</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for e in entries %}
                    <tr>
                        <td>{{ e.entry_date|date:"d M Y" }}</td>
                        <td>{{ e.compute_tilawah }}</td>
                        <td>{{ e.ql }}</td>
                        <td>{{ e.dhuha }}</td>
                        <td>{{ e.display_shaum }}</td>
                        <td class="hide">{{ e.display_raport }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>