<nav role="navigation" class="navbar navbar-inverse navbar-embossed">
    <div class="navbar-header">
        <button data-target="#navbar-collapse-01" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Mutaaba3ah</a>
    </div>
    <div id="navbar-collapse-01" class="collapse navbar-collapse">
        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a id="menu-mutaaba3ah" data-toggle="dropdown" class="dropdown-toggle"
                   title="Catatan Ibadah Harian"
                   href="#">Mutaba'ah Yaumiyyah<b class="caret"></b></a>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                    <li><a id="menu-entry" href="{% url 'mutaaba3ah' %}">Add Entry</a></li>
                    <li><a id="menu-report" href="{% url 'mutaaba3ah/report' %}">Report</a></li>
                </ul>
            </li>
        </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a id="user-email" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">{{ user.email }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a id="logout" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </li>
            {% else %}
            <li><a id="login" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Login</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>