{% extends "base.html" %}

{% block content %}

  <div class="row" style="margin-top: 10px">
    <h4>Data Mutaba'ah</h4>
  </div>
  <form method="post">

    <div class="row">
      <label for="nama">Nama</label>
      <select name="nama" id="nama">
        <option value="">--Select Name--</option>
        <option value="dummy">Dummy User</option>
      </select>
    </div>

    <div class="row">
      <div class="five columns">
        <label for="tanggal">Tanggal</label>
        <input type="text" name="tanggal" id="tanggal" placeholder="tanggal awal" readonly="readonly">
        <input type="text" name="tanggal-to" id="tanggal-to" placeholder="tanggal akhir" readonly="readonly">
      </div>
    </div>

    <div class="row">
      <input type="submit" class="button-primary" value="Tampilkan Data">
    </div>
  </form>

  <hr>

  <div class="row">
    <table class="u-full-width">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Tanggal</th>
        <th>Dhuha</th>
        <th>QL</th>
        <th>Tilawah</th>
        <th>Shaum</th>
      </tr>
    </thead>
    <tbody>
      {% for e in data['entries'] %}
        <tr>
          <td>{{e.user_name}}</td>
          <td>
            <a href="/">{{e.date}}</a>
          </td>
          <td>{{e.dhuha}}</td>
          <td>{{e.ql}}</td>
          <td>{{e.tilawah_end - e.tilawah_start + 1}}</td>
          <td>{{'Iya' if e.shaum else 'Tidak'}}</td>
        </tr>
      {% endfor %}

      {% for i in range(10) %}
        <tr>
          <td>Dummy User</td>
          <td>
            <a href="/">Sabtu, {{10+i}} Mei 2015</a>
          </td>
          <td>4</td>
          <td>5</td>
          <td>20</td>
          <td>Tidak</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

{% endblock %}
